<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>内置指令</title>
    </head>
    <body ng-app="app">


	<!-- 1	使用ng-model -->
 	输入<input type="text" ng-model="message" required >
	
	<h1>{{message}}</h1>
	<!-- 2.使用ng-controller -->
<p ng-controller="ctrl">这个是ng-controller获取的数据
	{{name}}年龄：{{age}} <br> {{obj.job}} <br>{{studys[2]}} <br>
	
		<input type="button" value="单击" ng-click="func()">
	
	</p>

<div ng-controller="ctr2">
	<p ng-bind="name"></p>
	<p ng-bind="age"></p>
	<p ng-bind="like"></p>
</div>

<ul>
	<!-- ng-show用于显示或隐藏某个节点
	当值为0或者false时隐藏该节点
	当值为1或true时显示 -->
	
	<li ng-show="1">11</li>
	<li ng-show="false">22</li>
	<li ng-hide="1">33</li>
	<li ng-show="true">44</li>
</ul>
<!-- 判断节点是否存在，用法与ng-show和ng-hide一样 -->
<ul>
	<li ng-if="true">first</li>
	<li ng-if="0">second</li>
	<li ng-if="false">third</li>
</ul>




<script src="angular.min.js"></script>
<script type="text/javascript">
		var app = angular.module("app",[]);
		app.controller("ctrl",["$scope",function($scope){

			$scope.name = "Alice";
			$scope.age = 18;
			$scope.obj = {id:1001,name:"jone",job:"白领"};
			$scope.studys =["chinese","english","science"];
			$scope.func =function(){
				console.log("我是被调用的方法");
			};
		}]);
		app.controller("ctr2",["$scope",function($scope){
			$scope.name = "小明";
			$scope.age  = 18;
			$scope.like = "swimming";
		}]);

</script>
    </body>
</html>